body{
  background-color: #EEEDE9;
}

.main-container {
  position: relative;
  display: flex;  
  width: 100%;
  height: 100%;
}

.Admincardcontainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px
}

.Group4 {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.Add {
  width: 10%;
  max-width: 100px;
  height: 10%;
  max-height: 100px;
  padding: 1.5%;
  background: #BBC0BA;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Title {
  text-align: center;
  color: white;
  font-size: 3vw;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
}

.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.AdminListCard {
  width: calc(50% - 150px);
  margin-bottom: 20px;
}

.ListForm {
  position: absolute;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20%;
  width: 80%;
  max-width: 300px;
  border: black 1px solid;
  align-self: center;
  border-radius: 8px;
  background-color: rgb(197, 197, 197);
  box-shadow: 1px 1px 10px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .Items {
      flex-direction: column;
      align-items: center;
  }

  .AdminListCard {
      width: 100%;
  }
}
