.ClienItemlistcomponent {
  display: flex;
  margin-left: 3%;
  margin-top: 5%;
  width: 366px;
  height: 210px;
  position: relative;
  background: #E6DED3;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 1px black solid;
}

.Group1 {
  width: 85px;
  height: 77px;
  left: 29px;
  top: 27px;
  position: absolute;
}

.ContentBlock {
  width: 85px;
  height: 77px;
  left: 0;
  top: 0;
  position: absolute;
  background: #C5C5C5;
  border-radius: 8px;
}

.ListImg {
  width: 85px;
  height: 77px;
  left: 0;
  top: 0;
  position: absolute;
}

.ListText {
  width: 189px;
  height: 38px;
  left: 38px;
  top: 144px;
  position: absolute;
  color: black;
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.Number {
  width: 144px;
  height: 70px;
  left: 123px;
  top: 49px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.ClientNumberText {
  width: 198px;
  height: 41px;
  left: 168px;
  top: 2px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.TicketButton {
  width: 75px;
  height: 59px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  left: 265px;
  top: 134px;
  position: absolute;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  overflow: hidden;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.TicketText {
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

.ClientNumber {
  margin-top: 5%;
  margin-left: 90%;
  font-size: 30px;
  width: 100px;
}