.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #EEEDE9;
}

.Usercardcontainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }