    <!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style> {{asset "styles.css" "utf-8"}} </style>
</head>
    <div>
    <div style="page-break-before: always;">
        <h1>Grafico de listas</h1>
        <div class="ct-chart" id="myChart"></div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = {
                labels: [
                    {{#each lists}}
                    '{{ list_description.list_name }}',
                    {{/each}}
                ],
                series: [
                    [
                        {{#each lists}}
                        {{ list_description.list_current_number }},
                        {{/each}}
                    ]
                ]
            };

            var options = {
                axisY: {
                    onlyInteger: true,
                }
            };

            new Chartist.Bar('#myChart', data, options);
        });
    </script>
    

    </html>