    <!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style> {{asset "styles.css" "utf-8"}} </style>
</head>
    <div>
    <div style="page-break-before: always;">
        <h1>Usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{ nickname }}</td>
                    <td>{{ email}}</td>
                    <td>{{is_admin}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</html>